h1 { 
  font-family:cursive;
  
}

.inner1{
	
	border: 2px solid black;
    background-color: #8D8D8D;
	margin-bottom: 30px;
    padding: 60px 10px 10px 10px;
	position: relative;
    width: 45%;
    height: 120px;
    margin-right:10px;
	margin-left:20px;
	font-family:cursive;
	color: black;
	float:left;
	
	
}

article .inner1
{
   width: 94%;
	
}

.inner2{
	
    border: 2px solid black;
	background-color: #ff8080;
	font-size: 24px;
    padding: 10px 5px 0px 5px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 40px; 
	font-weight:bold;
}

@media (min-width:768px )and (max-width:992px) {"inner1", "inner2"}